@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}

.nav {
    display: flex;
    height: 80px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 80px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

body {
    padding: 32px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.logo {
    width: 40px;
    display: flex;
    align-items: center;
    font-weight: 900;
    text-decoration: none;
    margin: 0 12px;
    color: #243E63;
    font-size: 24px;
}

.logo__img {
    margin-right: 12px;
    width: 40px;
    height: 40px;
}

.nav__link {
    margin: 0 24px;
    text-decoration: none;
    font-weight: 600;
    padding-bottom: 4px;
    color: #243E63;
}

.nav__link--login {
    margin-left: 24px;
}

.nav__link--primary {
    background-color: #6415FF;
    padding: 12px 32px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.text--purple {
    color: #6415FF;
}


/* HEADER */

.header__container {
    padding-top: 80px;
    margin: 0 32px;
}

.header__row {
    display: flex;
}

.header__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.25;
    color: rgb(26, 32, 44);
}

.header__para {
    font-size: 18px;
    margin: 32px 0;
    color: #243E63;
}

.header__wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.header__email {
    position: relative;
    max-width: 1000px;
}

.header__email--input {
    width: 100%;
    border: 2px solid #d2d8da;
    border-radius: 50px;
    border-width: 2px;
    padding: 20px 32px;
    font-weight: 500;
}

.header__email--button {
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: #6415FF;
    margin: 8px 8px 8px 0;
    padding: 16px 0;
    border-radius: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 10rem;
}

.header__customer {
    padding-top: 80px;
}

.header__customer--para {
    font-size: 12px;
    font-weight: 700;
    color: rgb(160, 174, 192);
    letter-spacing: 0.05em;
}

.header__customer--img {
    max-width: 768px;
    height: auto;
    width: 100%;
    margin-top: 16px;
    opacity: 0.5;
}


.header__graphic {
    display: flex;
    align-items: center;
    max-width: 768px;
    width: 60%;
}

.header__graphic--illustration {
    max-width: 768px;
    height: auto;
    width: 100%;
}


/* FEATURES */

.features__service {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__header {
    font-weight: 700;
    letter-spacing: 0.1em;
}

.features__sub-header {
    width: 100%;
    font-weight: 900;
    letter-spacing: 0.025em;
    font-size: 48px;
}

.features__para {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 500;
    max-width: 576px;
    line-height: 1.625;
    color: #7c8ba1;
}

.features__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.features__highlight {
    width: calc(100%/3);
    max-width: 100%;
    display: flex;
    padding: 32px 24px;
}

.features__highlight--img {
    color: #6415FF;
    width: 66px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 50px;
    padding: 20px;
}


.features__description {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-left: 16px;
}

.features__highlight--subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.025em;
}

.features__highlight--para {
    margin-top: 16px;
    font-size: 16px;
}

/* QUALITY */

.quality__row {
    display: flex;
    align-items: center;
}

.quality__description {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 32px 0;
}

.quality__header {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.quality__sub-header {
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px; 
}

.quality__para {
    font-size: 18px;
    color: #7c8ba1;
    margin-top: 16px;
}

.quality__btn {
    background-color: #6415FF;
    font-weight: 700;
    padding: 12px 32px;
    border-radius: 50px;
    color: white;
    margin-top: 32px;
    border: none;
}

.quality__img--wrapper {
    width: 50%;
    height: auto;
}

.quality__img {
    max-width: 100%;
}

/* STEPS */

.steps__row {
    display: flex;
    align-items: center;
}

.steps__img--wrapper {
    width: 50%;
    height: auto;
}

.steps__img {
    max-width: 100%;
}

.steps__description {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 24px;
}

.steps__header {
    font-weight: 700;
    letter-spacing: 0.1em;
}

.steps__sub-header {
    font-weight: 900;
    font-size: 48px;
    color: #243E63;
    margin-top: 16px;
    line-height: 1.25;
}

.steps__list--wrapper {
    display: flex;
    margin-top: 32px;
}

.steps__list {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
}

.steps__list--description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.steps__list--title {
    color: #243E63;
    font-size: 20px;
    font-weight: 600;
}

.steps__list--para {
    margin-top: 12px;
    color: #718096;
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
    max-width: 320px;
}

/* VALUES */

.values__row {
    display: flex;
    align-items: center;
}

.values__description {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 32px 0;
}

.values__header {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.values__sub-header {
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px; 
}

.values__para {
    font-size: 18px;
    color: #7c8ba1;
    margin-top: 16px;
}

.values__btn {
    background-color: #6415FF;
    font-weight: 700;
    padding: 12px 32px;
    border-radius: 50px;
    color: white;
    margin-top: 32px;
    border: none;
}

.values__img--wrapper {
    width: 50%;
    height: auto;
}

.values__img {
    max-width: 100%;
}

.values__highlights {
    display: flex;
}

.values__highlight {
    display: flex;
    flex-direction: column;
    margin: 32px 32px 0 0;
}

.values__highlight--header {
    display: flex;
    align-items: center;
}

.values__highlight--img {
    padding: 8px;
    background-color: #9ae6b4;
    border-radius: 50px;
    overflow: hidden;
    font-size: 20px;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.values__highlight--imgs {
    padding: 8px;
    background-color: #feb2b2;
    border-radius: 50px;
    overflow: hidden;
    font-size: 20px;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.values__highlight--title {
    margin-left: 12px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(36, 62, 99);
}

.values__highlight--para {
    margin-top: 16px;
    color: rgb(113, 128, 150);
    line-height: 1.625;
    font-size: 16px;
}

/* PRICING */


.pricing__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    width: 100%;
}

.pricing__header {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-bottom: 16px;
}

.pricing__sub-header {
    font-size: 48px;
    font-weight: 900;
}

.pricing__para {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.625;
    color: #7c8ba1;
    text-align: center;
    margin-top: 16px;
    max-width: 576px;
    width: 100%;
}

.pricing__plans {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
    width: 100%;
    max-width: 1280px;
}

.pricing__plan {
    width: calc(100%/3);
    max-width: 384px;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.pricing__plan--highlight {
    left: 0;
    right: 0;
    top: 0;
    height: 8px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.pricing__plan--personal-highlight {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.pricing__plan--title {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    line-height: 1.625;
}

.pricing__plan--header {
    font-size: 20px;
    font-weight: 700;
    color: #1a202c;
}

.pricing__plan--price {
    font-size: 48px;
    font-weight: 700;
    color: #1a202c;
    margin: 4px 0;
}

.pricing__plan--subtitle {
    font-size: 16px;
    font-weight: 700;
    color: #A0AEC0;
    letter-spacing: 0.1em;
}

.pricing__plan--description {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 32px;
    border-top: 2px solid rgba(204, 200, 200, 0.3);
}

.pricing__plan--features {
    font-size: 20px;
    color: #1a202c;
}

.pricing__plan--feature {
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    color: #718096;
}

.pricing__plan--buttons {
    padding: 32px;
    border-top: 2px solid rgba(204, 200, 200, 0.3);
}

.pricing__plan--button {
    font-size: 14px;
    font-weight: 700;
    color: white;
    padding: 16px 32px;
    border: none;
    border-radius: 50px;
}

.pricing__plan--button-personal {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.pricing__plan--business {
    background-color: #6415FF;
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    color: white;
}

.pricing__plan--business-highlight {
    background-color: #6415FF;
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.pricing__plan--business-text {
    color: white;
}

.pricing__plan--button-business {
    background: white;
    color: #6415FF;
}

.pricing__plan--highlight-enterprise {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.pricing__plan--button-enterprise {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}


/* TESTIMONIALS */

.testimonials__row {
    display: flex;
    align-items: center;
}

.testimonials__img--wrapper {
    width: 50%;
    height: auto;
}

.testimonials__img {
    width: 100%;
}

.testimonials__description {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}

.testimonials__header {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #6415FF;
}

.testimonials__sub-header {
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px; 
}

.testimonials__para {
    font-size: 18px;
    color: #7c8ba1;
    margin-top: 16px;
}

.testimonial {
    margin-top: 40px;
}

.testimonial__ratings {
    color: #fabf2a;
    font-size: 20px;
}

.testimonial__title {
    font-size: 20px;
    font-weight: 700;
    color: #243E63;
    margin-top: 16px;
}

.testimonial__review {
    font-size: 16px;
    font-weight: 500;
    color: #4a5568;
    line-height: 1.6;
    margin-bottom: 24px;
    margin-top: 16px;
}

.testimonial__customer {
    display: flex;
    justify-content: space-between;
}

.testimonial__customer--profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.testimonial__customer--img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-right: 24px;
}

.testimonial__customer--name {
    font-size: 18px;
    font-weight: 700;
    color: #243E63;
}

.testimonial__customer--para {
    font-size: 14px;
    color: #7c8ba1;
}

.testimonial__customer--control {
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.testimonial__customer--arrow {
    font-size: 16px;
    width: 48px;
    height: 48px;
    background-color: #EDF2F7;
    border: none;
    border-radius: 50%;
    color: #6415FF;
    margin: 0 12px;
}

.testimonial__customer--divider {
    width: 2px;
    height: 24px;
    border-right-width: 1px;
    margin: 12px 0;
    background-color:rgb(226, 232, 240);
}

/* CALLTOACTION */

.CTA__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 80px;
    background-color: #6415FF;
    height: 282px;
    border-radius: 8px;
}

.CTA__description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    font-weight: 700;
    color: white;
}

.CTA__header {
    max-width: 50%;
    font-size: 30px;
    line-height: 1.5;
    padding: 0 40px;
    text-align: left;
}


.CTA__buttons {
    display: flex;
    gap: 32px;
    padding: 0 40px;
    width: 50%;
}

.CTA__button {
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50px;
}

.CTA__button--start {
    background-color: #f56565;
    color: white;
    border: none;
}

.CTA__button--contact {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}


/* FOOTER */

.footer {
    background-color: #6415FF;
    color: white;
}

.footer__row {
    padding: 96px 0;
}

.footer__lists {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__list {
    width: auto;
    padding-bottom: 50px;
}


.footer__list--header {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 24px;
    margin-left: 22px;
    color: #f7fafc;
}

.footer__list--items {
    flex-direction: column;
    list-style-type: none;
    margin-top: 24px;
}

.footer__list--item {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    display: block;
    margin: 0 24px 12px;
}

.footer__divider {
    width: 100%;
    max-width: 1200px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 64px 0;
}

.footer__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 20px 0;
}

.footer__socials--logo {
    display: flex;
    align-items: center;
}

.footer__socials--logo-img {
    width: 32px;
    height: 32px;
}

.footer__socials--logo-header {
    font-size: 20px;
    color: #f7fafc;
    margin-left: 8px;
    font-weight: 900;
}

.footer__socials--para {
    color: #Cbd5e0;
    font-size: 16px;
    font-weight: 500;
}

.footer__socials {
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.footer__social {
    color: #6415ff;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    width: 32px;
    height: 32px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 16px;
}